
		<!-- Start Footer Section -->
		<footer class="footer-section">
			<div class="container relative">

				<div class="sofa-img">
					<!-- <img src="image/logo liora.webp" alt="Image" class="img-fluid"> -->
				</div>


				<!-- <div class="row">
					<div class="col-lg-8">
						<div class="subscription-form">
							<h3 class="d-flex align-items-center"><span class="me-1"><img src="images/envelope-outline.svg" alt="Image" class="img-fluid"></span><span>Subscribe to Newsletter</span></h3>

							<form action="#" class="row g-3">
								<div class="col-auto">
									<input type="text" class="form-control" placeholder="Enter your name">
								</div>
								<div class="col-auto">
									<input type="email" class="form-control" placeholder="Enter your email">
								</div>
								<div class="col-auto">
									<button class="btn btn-primary">
										<span class="fa fa-paper-plane"></span>
									</button>
								</div>
							</form>

						</div>
					</div>
				</div> -->

				<div class="row g-5 mb-5">
					<div class="col-lg-4">
						<div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">LIORA</a></div>
						<p class="mb-4">Immerse yourself in a world of captivating fragrances. Crafted to perfection, each scent offers a unique experience. Indulge in luxurious notes that linger all day long. Let every spray evoke a sense of elegance and charm.</p>

						<ul class="list-unstyled custom-social">
							<li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
						</ul>
					</div>

					<div class="col-lg-8">
						<div class="row links-wrap">
							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">About us</a></li>
									<li><a href="#">Services</a></li>
									<!-- <li><a href="#">Blog</a></li>
									<li><a href="#">Contact us</a></li> -->
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">Support</a></li>
									<!--  <li><a href="#">Knowledge base</a></li> -->
									<li><a href="#">contact us</a></li> 
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">Jobs</a></li>
									<li><a href="#">How to shop on liora</a></li>
									<!-- <li><a href="#">Terms and conditions </a></li>
									<li><a href="#">Privacy Policy</a></li> -->
								</ul>
							</div>

							<!-- <div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">Nordic Chair</a></li>
									<li><a href="#">Kruzo Aero</a></li>
									<li><a href="#">Ergonomic Chair</a></li>
								</ul>
							</div> -->
						</div>
					</div>

				</div>

				<div class="border-top copyright">
					<div class="row pt-4">
						<div class="col-lg-6">
							<p class="mb-2 text-center text-lg-start">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. 
            </p>
						</div>

						<div class="col-lg-6 text-center text-lg-end">
							<ul class="list-unstyled d-inline-flex ms-auto">
								<li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</div>

					</div>
				</div>

			</div>
		</footer>
		<!-- End Footer Section -->	
        <script src="js/bootstrap.bundle.min.js"></script>
		<script src="js/tiny-slider.js"></script>
		<script src="js/custom.js"></script>





<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="./user-assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="./user-assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="./user-assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
<script src="./user-assets/js/vendor/bootstrap.bundle.min.js"></script>
<script src="./user-assets/js/plugins/slick.js"></script>
<script src="./user-assets/js/plugins/jquery.syotimer.min.js"></script>
<script src="./user-assets/js/plugins/wow.js"></script>
<script src="./user-assets/js/plugins/jquery-ui.js"></script>
<script src="./user-assets/js/plugins/perfect-scrollbar.js"></script>
<script src="./user-assets/js/plugins/magnific-popup.js"></script>
<script src="./user-assets/js/plugins/select2.min.js"></script>
<script src="./user-assets/js/plugins/waypoints.js"></script>
<script src="./user-assets/js/plugins/counterup.js"></script>
<script src="./user-assets/js/plugins/jquery.countdown.min.js"></script>
<script src="./user-assets/js/plugins/images-loaded.js"></script>
<script src="./user-assets/js/plugins/isotope.js"></script>
<script src="./user-assets/js/plugins/scrollup.js"></script>
<script src="./user-assets/js/plugins/jquery.vticker-min.js"></script>
<script src="./user-assets/js/plugins/jquery.theia.sticky.js"></script>
<script src="./user-assets/js/plugins/jquery.elevatezoom.js"></script>
<script src="./user-assets/js/maind134.js?v=3.4"></script>
<script src="./user-assets/js/shopd134.js?v=3.4"></script>








	
    </body>

</html>